/* latin-ext */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url('../fonts/yQiAaD56cjx1AooMTSghGfY6323mHUZFJMgTvxaG2iE.woff2') format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url('../fonts/0dTEPzkLWceF7z0koJaX1A.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* 
	Padding
*/
.p-0{
	padding: 0 !important;
}
.p-10{
	padding: 10px;
}
.p-30{
	padding: 30px;
}

/* 
	Padding Top
 */

.p-t-0{
	padding-top: 0;
}
.p-t-5{
	padding-top: 5px;
}
.p-t-10{
	padding-top: 10px;
}
.p-t-15{
	padding-top: 15px;
}
.p-t-20{
	padding-top: 20px;
}
.p-t-25{
	padding-top: 25px;
}
.p-t-30{
	padding-top: 30px;
}
.p-t-35{
	padding-top: 35px;
}
.p-t-50{
	padding-top: 50px;
}

/* 
	Padding Bottom
 */

.p-b-0{
	padding-left: 0;
}
.p-b-5{
	padding-bottom: 5px;
}
.p-b-10{
	padding-bottom: 10px;
}
.p-b-15{
	padding-bottom: 15px;
}
.p-b-20{
	padding-bottom: 20px;
}
.p-b-25{
	padding-bottom: 25px;
}
.p-b-30{
	padding-bottom: 30px;
}
.p-b-35{
	padding-bottom: 35px;
}

/* 
	Padding Left
 */


.p-l-0{
	padding-left: 0;
}
.p-l-5{
	padding-left: 5px;
}
.p-l-10{
	padding-left: 10px;
}
.p-l-15{
	padding-left: 15px;
}
.p-l-20{
	padding-left: 20px;
}
.p-l-25{
	padding-left: 25px;
}
.p-l-30{
	padding-left: 30px;
}
.p-l-35{
	padding-left: 35px;
}

/* 
	Padding Right
 */

.p-r-0{
	padding-right: 0;
}
.p-r-5{
	padding-right: 5px;
}
.p-r-10{
	padding-right: 10px;
}
.p-r-15{
	padding-right: 15px;
}
.p-r-20{
	padding-right: 20px;
}
.p-r-25{
	padding-right: 25px;
}
.p-r-30{
	padding-right: 30px;
}
.p-r-35{
	padding-right: 35px;
}

/* 
	Margin
 */

.m-0{
	margin: 0;
}
.m-10{
	margin: 10px;
}
.m-30{
	margin: 30px;
}
/* 
	Margin Top
 */

.m-t-0{
	margin-top: 0;
}
.m-t-15{
	margin-top: 15px;
}
.m-t-20{
	margin-top: 20px;
}
.m-t-25{
	margin-top: 25px;
}
.m-t-30{
	margin-top: 30px;
}
.m-t-35{
	margin-top: 35px;
}


/* 
	Margin Bottom
 */

.m-b-0{
	margin-bottom: 0;
}
.m-b-15{
	margin-bottom: 15px;
}
.m-b-20{
	margin-bottom: 20px;
}
.m-b-25{
	margin-bottom: 25px;
}
.m-b-30{
	margin-bottom: 30px;
}
.m-b-35{
	margin-bottom: 35px;
}

/* 
	Margin Left
 */

.m-l-0{
	margin-left: 0;
}
.m-l-15{
	margin-left: 15px;
}
.m-l-20{
	margin-left: 20px;
}
.m-l-25{
	margin-left: 25px;
}
.m-l-30{
	margin-left: 30px;
}
.m-l-35{
	margin-left: 35px;
}

/* 
	Margin Right
 */

.m-r-0{
	margin-right: 0;
}
.m-r-10{
	margin-right: 10px;
}
.m-r-15{
	margin-right: 15px;
}
.m-r-20{
	margin-right: 20px;
}
.m-r-25{
	margin-right: 25px;
}
.m-r-30{
	margin-right: 30px;
}
.m-r-35{
	margin-right: 35px;
}

/* 
	Color
 */


.color-ddd{
	color: #ddd;
}

.color-bbb{
	color: #bbb;
}

.color-999{
	color: #999;
}

.color-555{
	color: #555;
}

.color-777{
	color: #777;
}


/* 
	Background
 */

.font-bold{
	font-weight: bold;
}

.bg-fff{
	background: #fff;
}
.bg-ddd{
	background: #ddd;
}
.bg-f8f8f8{
	background: #f8f8f8;
}
a {
    color: rgb(55, 109, 146);
    text-decoration: none;
}
a:hover, a:focus {
	color: rgb(55, 109, 146);
    text-decoration: underline;
    cursor: pointer;
}

a:focus, a:hover {
    text-decoration: none !important;
}

.table-hover > tbody > tr > td.info:hover, .table-hover > tbody > tr > th.info:hover, .table-hover > tbody > tr.info:hover > td, .table-hover > tbody > tr:hover > .info, .table-hover > tbody > tr.info:hover > th,
.table > thead > tr > td.info, 
.table > tbody > tr > td.info, 
.table > tfoot > tr > td.info, 
.table > thead > tr > th.info, 
.table > tbody > tr > th.info, 
.table > tfoot > tr > th.info, 
.table > thead > tr.info > td, 
.table > tbody > tr.info > td, 
.table > tfoot > tr.info > td, 
.table > thead > tr.info > th, 
.table > tbody > tr.info > th, 
.table > tfoot > tr.info > th{
	background-color: rgb(55, 109, 146);
}

.row.display-flex {
  display: flex;
  flex-wrap: wrap;
}

.btn{
	border-radius: 100px;
	padding: 7px 15px;
	font-size: 13px;
}
.text-left{
	text-align: left !important;
}

.scroll-custom::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
	background-color: #F5F5F5;
	border-radius: 10px;
}

.scroll-custom::-webkit-scrollbar
{
	width: 5px;
	background-color: #F5F5F5;
}

.scroll-custom::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-image: -webkit-gradient(linear,
									   left bottom,
									   left top,
									   color-stop(0.44, rgba(55, 109, 146, 0.7)),
									   color-stop(0.72, rgba(55, 109, 146, 0.7)),
									   color-stop(0.86, rgba(55, 109, 146, 0.7)));
}

