{% extends "base.html" %}

{% block head %}
<script type="text/javascript">
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(function() { drawChart(10) });

    function addTable(node, data) {
         for (var key in data) {
            if (data.hasOwnProperty(key)) {
                var div1 = document.createElement('div');
                div1.className = 'w3-row';
                node.appendChild(div1);

                var div2 = document.createElement('div');
                div2.className = 'w3-container w3-third';
                div2.innerText = key + ':';
                div1.appendChild(div2);

                var div3 = document.createElement('div');
                div3.className = 'w3-container w3-twothird';
                div3.innerText = data[key];
                div1.appendChild(div3);
            }
        }
    }
      
    function drawChart() {
        var jsonData = $.ajax({
            url: "/future_data/" + $('#fromDate').val() + "/" + $('#toDate').val(),
            dataType: "json",
            async: false
        }).responseText;

        var obj = JSON.parse(jsonData);
        document.getElementById("debug").innerHTML = obj;

        var param_data_node = document.getElementById("param_data");
        addTable(param_data_node, obj.param_data);

        var properties_node = document.getElementById("properties");
        addTable(properties_node, obj.properties);

        // Create our data table out of JSON data loaded from server.
        var data = new google.visualization.DataTable(JSON.stringify(obj.values));
        var options = {
          curveType: 'function',
          //title: 'Rolling Future Price ($)',
          // legend: { position: 'bottom' }
        };
        
        chart = new google.visualization.LineChart(document.getElementById('curve_chart'));
        chart.draw(data, options);
    }
</script>
{% endblock %}

{% block content %}
<div class="w3-row">
    <div class="w3-container w3-third">
        <h4>Input</h4>
        <div class="w3-row">
            <div class="w3-container w3-quarter">
                Market:
            </div>
            <div class="w3-container w3-threequarter">
                <input type="text" id="market" value="CME/ES" onchange="drawChart()">
            </div>
        </div>
        <div class="w3-row">
            <div class="w3-container w3-quarter">
                From:
            </div>
            <div class="w3-container w3-threequarter">
                <input type="text" id="fromDate" value="2018-08-01" onchange="drawChart()">
            </div>
        </div>
        <div class="w3-row">
            <div class="w3-container w3-quarter">
                To:
            </div>
            <div class="w3-container w3-threequarter">
                <input type="text" id="toDate" value="2018-08-31" onchange="drawChart()">
            </div>
        </div>
    </div>

    <div id="param_data" class="w3-container w3-third">
        <h4>Param Data</h4>
    </div>

    <div id="properties" class="w3-container w3-third">
        <h4>Properties</h4>
    </div>
</div>

<div class="w3-row" style="margin-top:20px">
    <div class="w3-container w3-twothird">
        <h4>Rolling Future Price ($)</h4>
        <div id="curve_chart"></div>
    </div>
    <div class="w3-container w3-third">
        <h4>Statistics Table</h4>
    </div>
</div>

<div id="debug" style="display:none">Debug</div>

{% endblock %}
