{% extends "base.html" %}

{% block head %}
<style>
h4 { background-color: lightblue; }
</style>

<script type="text/javascript">
    google.charts.load('current', {'packages':['corechart']});
    // google.charts.setOnLoadCallback(function() { drawChart(10) });

    window.onload = init;
    function init() {
        // document.getElementById("debug").innerHTML = "strategy_name = None";

        if ("{{strategy_name}}" == "None") {

            var jsonData = $.ajax({
                url: "/internal/strategy_types",
                dataType: "json",
                async: false
            }).responseText;
    
            var strategyTypeNode = document.getElementById("strategy_type_select");
            addSelectList(strategyTypeNode, JSON.parse(jsonData));
            updateStrategyNames();

        } else {
            var jsonData = $.ajax({
                url: "/internal/tradable/{{strategy_name}}/{{start_date}}/{{end_date}}",
                dataType: "json",
                async: false
            }).responseText;
            var obj = JSON.parse(jsonData);

            var strategyTypeNode = document.getElementById("strategy_type_select");
            addSelectList(strategyTypeNode, [obj.properties.type] );
            var strategyNameNode = document.getElementById("strategy_name_select");
            addSelectList(strategyNameNode, [obj.properties.name]);
            updateStrategyDetails(obj);
        }
    }

    function updateStrategyNames() {
        var strategyType = $('#strategy_type_select').val();
        var jsonData = $.ajax({
            url: "/internal/strategy_names/" + strategyType,
            dataType: "json",
            async: false
        }).responseText;

        var strategyNameNode = document.getElementById("strategy_name_select");
        removeAllChildren(strategyNameNode);
        addSelectList(strategyNameNode, JSON.parse(jsonData));
        requestTracableDetails();
    }

    function removeAllChildren(node) {
        while (node.firstChild) {
            node.removeChild(node.firstChild);
        }
    }
 
    function addSelectList(node, data) {
        for (var i=0; i<data.length; i++) {
            var item = document.createElement('option');
            item.innerText = data[i];
            item.value = data[i];
            node.appendChild(item);
        }
    }

    function addTable(node, data, editable, linkable) {
        for (var key in data) {
            if (data.hasOwnProperty(key)) {
                var div1 = document.createElement('div');
                div1.className = 'w3-row';
                node.appendChild(div1);

                var div2 = document.createElement('div');
                div2.className = 'w3-container w3-half';
                if (linkable) {
                    linkNode = document.createElement('a');
                    linkNode.href = "/strategy/" + key + "/" + $('#fromDate').val() + "/" + $('#toDate').val();
                    linkNode.innerText = key + ":";
                    linkNode.target = "_blank";
                    div2.appendChild(linkNode);
                } else {
                    div2.innerText = key.replace(/_/g, " ") + ":";
                }
                div1.appendChild(div2);

                var div3 = document.createElement('div');
                div3.className = 'w3-container w3-half';
                if (editable)
                {
                    var input = document.createElement("input");
                    input.type = "text";
                    input.name = key;
                    input.value = data[key];
                    div3.appendChild(input);
                }
                else
                {
                    var v = data[key];
                    if (typeof(v) === 'number')
                        div3.innerText = v.toFixed(5);
                    else if (v instanceof Date)
                        div3.innerText = v.toLocaleDateString();
                    else
                        div3.innerText = v;
                }

                div1.appendChild(div3);
            }
        }
    }
    
    function requestTracableDetails() {
        var jsonData = $.ajax({
            url: "/internal/tradable/" + $('#strategy_name_select').val() + "/" + $('#fromDate').val() + "/" + $('#toDate').val(),
            dataType: "json",
            async: false
        }).responseText;

        var obj = JSON.parse(jsonData);
        // document.getElementById("debug").innerHTML = obj;

        updateStrategyDetails(obj);
    }

    function updateStrategyDetails(obj) {
        var paramDataNode = document.getElementById("param_data_container");
        removeAllChildren(paramDataNode);
        addTable(paramDataNode, obj.param_data, true, false);

        var propertiesNode = document.getElementById("properties");
        removeAllChildren(propertiesNode);
        addTable(propertiesNode, obj.properties, false, false);

        var childStrategyNode = document.getElementById("child_strategies");
        removeAllChildren(childStrategyNode);
        addTable(childStrategyNode, obj.children_strategies, false, true);

        var statisticsNode = document.getElementById("statistics");
        removeAllChildren(statisticsNode);
        addTable(statisticsNode, obj.stats, false, false);

        // Create our data table out of JSON data loaded from server.
        var data = new google.visualization.DataTable(JSON.stringify(obj.values));
        var options = {
          curveType: 'function',
          //title: 'Rolling Future Price ($)',
          legend: { position: 'top' }
        };
        
        chart = new google.visualization.LineChart(document.getElementById('curve_chart'));
        chart.draw(data, options);
    }
</script>
{% endblock %}

{% block content %}
<div id="debug" style="display:block">
    Debug: 
</div>

<div class="w3-row">
    <div class="w3-container w3-half">
        <h4>Input</h4>
        <div class="w3-row">
            <div class="w3-container w3-third">
                Strategy Type:
            </div>
            <div class="w3-container w3-twothird">
                <select id="strategy_type_select" onchange="updateStrategyNames()"></select>
            </div>
        </div>
        <div class="w3-row">
            <div class="w3-container w3-third">
                Name:
            </div>
            <div class="w3-container w3-twothird">
                <select id="strategy_name_select" onchange="requestTracableDetails()"></select>
            </div>
        </div>
        <div class="w3-row">
            <div class="w3-container w3-third">
                From:
            </div>
            <div class="w3-container w3-twothird">
                {% if start_date %}
                    <input type="date" id="fromDate" value="{{start_date}}" onchange="requestTracableDetails()">
                {% else %}
                    <input type="date" id="fromDate" value="2018-08-01" onchange="requestTracableDetails()">
                {% endif %}
            </div>
        </div>
        <div class="w3-row">
            <div class="w3-container w3-third">
                To:
            </div>
            <div class="w3-container w3-twothird">
                {% if end_date %}
                    <input type="date" id="toDate" value="{{end_date}}" onchange="requestTracableDetails()">
                {% else %}
                    <input type="date" id="toDate" value="2018-08-31" onchange="requestTracableDetails()">
                {% endif %}
            </div>
        </div>

    </div>

    <div class="w3-container w3-half">
        <h4>Param Data</h4>
        <div id="input_form">
            <form action="/internal/strategy_postback" method="post">
                <div id="param_data_container"></div>
                <br/>
                <input type="submit">
            </form>
        </div> 
    </div>
</div>

<div class="w3-row">
    <div class="w3-container w3-half">
        <h4>Properties</h4>
        <div id="properties"></div> 
    </div>

    <div class="w3-container w3-half">
        <h4>Child Strategies</h4>
        <div id="child_strategies"></div> 
    </div>
</div>

<div class="w3-row" style="margin-top:20px">
    <div class="w3-container w3-half">
        <h4>Rolling Future Price ($)</h4>
        <div id="curve_chart"></div>
    </div>
    <div class="w3-container w3-half">
        <h4>Statistics Table</h4>
        <div id="statistics"></div> 
    </div>
</div>

{% endblock %}
