{% extends "base.html" %}

{% block head %}
<style>
h4 { background-color: lightblue; }
</style>

<script>
    google.charts.load('current', {'packages':['corechart']});

    window.onload = init;
    function init() {
        if ("{{tradable_type}}" == "data") {
            document.getElementById("strategy_special_container").style.display = "none";
            document.getElementById("submit_strategy_param").style.display = "none";

            var jsonData = $.ajax({
                url: "/internal/tradable/" + escapeSlash("{{tradable_name}}") + "/{{from_date}}/{{to_date}}",
                dataType: "json",
                async: false
            }).responseText;
            var obj = JSON.parse(jsonData);
            updateTradableDetails(obj);

        } else if ("{{tradable_type}}" == "strategy") {
            if ("{{tradable_name}}" == "None") {
                var jsonData = $.ajax({
                    url: "/internal/strategy_types",
                    dataType: "json",
                    async: false
                }).responseText;
    
                var strategyTypeNode = document.getElementById("strategy_type_select");
                addSelectList(strategyTypeNode, JSON.parse(jsonData));
                updateStrategyNames();

            } else {
                var jsonData = $.ajax({
                    url: "/internal/tradable/" + escapeSlash("{{tradable_name}}") + "/{{from_date}}/{{to_date}}",
                    dataType: "json",
                    async: false
                }).responseText;
                var obj = JSON.parse(jsonData);
                
                var strategyTypeNode = document.getElementById("strategy_type_select");
                addSelectList(strategyTypeNode, [obj.properties.type] );
                var strategyNameNode = document.getElementById("strategy_name_select");
                addSelectList(strategyNameNode, [obj.properties.name]);
                updateTradableDetails(obj);
                document.getElementById("hidden_strategy_name").value = "{{tradable_name}}";
            }
        }
    }

    function updateStrategyNames() {
        var strategyType = $('#strategy_type_select').val();
        var jsonData = $.ajax({
            url: "/internal/strategy_names/" + strategyType,
            dataType: "json",
            async: false
        }).responseText;

        var strategyNameNode = document.getElementById("strategy_name_select");
        removeAllChildren(strategyNameNode);
        addSelectList(strategyNameNode, JSON.parse(jsonData));
        requestTracableDetails();
    }

    function removeAllChildren(node) {
        while (node.firstChild) {
            node.removeChild(node.firstChild);
        }
    }
 
    function addSelectList(node, data) {
        for (var i=0; i<data.length; i++) {
            var item = document.createElement('option');
            item.innerText = data[i];
            item.value = data[i];
            node.appendChild(item);
        }
    }

    function addTable(node, data, editable, linkable) {
        for (var key in data) {
            if (data.hasOwnProperty(key)) {
                var div1 = document.createElement('div');
                div1.className = 'w3-row';
                node.appendChild(div1);

                var div2 = document.createElement('div');
                div2.className = 'w3-container w3-half';
                if (linkable != null) {
                    var today = new Date();
                    var fromDate = new Date();
                    fromDate.setMonth(fromDate.getMonth() - 1);
                
                    var linkNode = document.createElement('a');
                    linkNode.href = "/" + linkable + "/" + escapeSlash(key) + "/"  + convertDateToString(fromDate) + "/" + convertDateToString(today);
                    linkNode.innerText = key + ":";
                    linkNode.target = "_self"; // "_blank";
                    div2.appendChild(linkNode);
                } else {
                    div2.innerText = key.replace(/_/g, " ") + ":";
                }
                div1.appendChild(div2);

                var div3 = document.createElement('div');
                div3.className = 'w3-container w3-half';
                if (editable)
                {
                    var input = document.createElement("input");
                    input.type = "text";
                    input.name = key;
                    input.value = data[key];
                    div3.appendChild(input);
                }
                else
                {
                    var v = data[key];
                    if (typeof(v) === 'number')
                        div3.innerText = v.toFixed(5);
                    else if (v instanceof Date)
                        div3.innerText = v.toLocaleDateString();
                    else
                        div3.innerText = v;
                }

                div1.appendChild(div3);
            }
        }
    }

    function requestTracableDetails(period = '1M') {
        var startDate = (period == '1M') ? 
                        new Date() :
                        new Date(document.getElementById("param_data_container").querySelector('input[name="start_date"]').value);

        var today = new Date()
        var fromDate = new Date();
        switch(period) {
            case '1M':
                fromDate.setMonth(fromDate.getMonth() - 1);
                break;
            case '6M':
                fromDate.setMonth(fromDate.getMonth() - 6);
                break;
            case '1Y':
                fromDate.setFullYear(fromDate.getFullYear() - 1);
                break;
            case 'All':
                fromDate = startDate;
                break;
        }
        if (period != '1M' && period != 'All') {
            if (fromDate < startDate) {
                fromDate = startDate;
            }
        }

        // document.getElementById("debug").innerHTML = convertDateToString(fromDate) + ' / ' + period + ' / ' + convertDateToString(today);
        var jsonData = $.ajax({
            url: "/internal/tradable/" + escapeSlash($('#strategy_name_select').val()) + "/" + convertDateToString(fromDate) + "/" + convertDateToString(today),
            dataType: "json",
            async: false
        }).responseText;

        var obj = JSON.parse(jsonData);
        updateTradableDetails(obj);
        
        if ("{{tradable_type}}" == "strategy") {
            document.getElementById("hidden_strategy_name").value = $('#strategy_name_select').val();
        }
    }

    function updateTradableDetails(obj) {
        if ("{{tradable_type}}" == "strategy") {
            var childStrategyNode = document.getElementById("child_strategies");
            removeAllChildren(childStrategyNode);
            addTable(childStrategyNode, obj.children_strategies.children_strategies, false, "strategy");
            addTable(childStrategyNode, obj.children_strategies.children_data, false, "data");
        }

        var paramDataNode = document.getElementById("param_data_container");
        removeAllChildren(paramDataNode);
        if ("{{tradable_type}}" == "strategy") {
            addTable(paramDataNode, obj.param_data, true, null);
        } else {
            addTable(paramDataNode, obj.param_data, false, null);
        }

        var propertiesNode = document.getElementById("properties");
        removeAllChildren(propertiesNode);
        addTable(propertiesNode, obj.properties, false, null);

        var statisticsNode = document.getElementById("statistics");
        removeAllChildren(statisticsNode);
        addTable(statisticsNode, obj.stats, false, null);

        // Create our data table out of JSON data loaded from server.
        var data = new google.visualization.DataTable(JSON.stringify(obj.values));
        var options = {
          curveType: 'function',
          //title: 'Rolling Future Price ($)',
          legend: { position: 'top' }
        };
        
        var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));
        chart.draw(data, options);
    }
</script>
{% endblock %}

{% block content %}
<div id="debug" style="display:block">
    Debug: 
</div>

<div class="w3-row" id="strategy_special_container">
    <div class="w3-container w3-half">
        <h4>Input</h4>
        <div class="w3-row">
            <div class="w3-container w3-third">
                Strategy Type:
            </div>
            <div class="w3-container w3-twothird">
                <select id="strategy_type_select" onchange="updateStrategyNames()"></select>
            </div>
        </div>
        <div class="w3-row">
            <div class="w3-container w3-third">
                Name:
            </div>
            <div class="w3-container w3-twothird">
                <select id="strategy_name_select" onchange="requestTracableDetails()"></select>
            </div>
        </div>
    </div>

    <div class="w3-container w3-half">
        <h4>Child Strategies</h4>
        <div id="child_strategies"></div> 
    </div>
</div>

<div class="w3-row">
    <div class="w3-container w3-half">
        <h4>Properties</h4>
        <div id="properties"></div> 
    </div>

    <div class="w3-container w3-half">
        <h4>Param Data</h4>
        <div id="input_form">
            <form action="/internal/strategy_postback" method="post">
                <input type="hidden" id="hidden_strategy_name" name="strategy_name" value="" />
                <div id="param_data_container"></div>
                <br/>
                <div id="param_data_container">
                    <input type="submit" name="submit_method" value="Submit">
                    <input type="submit" name="submit_method" value="Save">
                    <input type="submit" name="submit_method" value="Revert">
                </div>
            </form>
        </div> 
    </div>
</div>

<div class="w3-row" style="margin-top:20px">
    <div class="w3-container w3-half">
        <h4>Rolling Future Price ($)</h4>

        <div>
            <input type="radio" name="radioPeriod" id="radio1M" onchange="requestTracableDetails('1M');">
            <label for="radio1M">1M</label>
            <input type="radio" name="radioPeriod" id="radio6M" onchange="requestTracableDetails('6M');">
            <label for="radio6M">6M</label>
            <input type="radio" name="radioPeriod" id="radio1Y" onchange="requestTracableDetails('1Y');">
            <label for="radio1Y">1Y</label>
            <input type="radio" name="radioPeriod" id="radioAll" onchange="requestTracableDetails('All');">
            <label for="radioAll">All</label>
        </div>

        <div id="curve_chart"></div>
    </div>
    <div class="w3-container w3-half">
        <h4>Statistics Table</h4>
        <div id="statistics"></div> 
    </div>
</div>

{% endblock %}
